# paths
PATH=/usr/local/sbin:$PATH
PATH=/usr/local/share/npm/bin:$PATH
PATH=/usr/local/bin:$PATH
PATH=$HOME/bin:$PATH
PATH=$HOME/.rvm/bin:$PATH
PATH=./vendor/bin:$PATH
PATH=./bin:$PATH
PATH=$(brew --prefix coreutils)/libexec/gnubin:$PATH

export PATH

# Make vim the default editor
export EDITOR="vim"
export VISUAL=vim
export GIT_EDITOR='vim'

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Scala/java
export SCALA_HOME=/usr/local/Cellar/scala/2.10.1/libexec
export JAVA_HOME=$(/usr/libexec/java_home)
